

* {
    font-family: 'Aladin', cursive;
}

.bkgrdImg1 {
    background:  url("https://static1.squarespace.com/static/55b79870e4b0abd99ecc2f4f/t/55be623ae4b09d8345d89b1e/1438540347426/Background%C2%A0%E2%80%93%C2%A0Firm+Philosophy.jpeg?format=2500w");
    background-size: cover;
    width:100%;
    height: 100%;
    position:fixed;
    opacity: 1;
    z-index: -1;
}
.bkgrdImg2 {
    background: url("https://avatars0.githubusercontent.com/u/41157206?s=460&v=4") left top no-repeat; 
    background-size: cover;
    width:310px;
    height: 310px;
    position:fixed;
    opacity: .2;
    z-index: -1;
    border-radius: 200px;
    background-blend-mode: screen;
}
.trivia {
background: white;
border-radius: 5px;
opacity:.8;
margin: 5px;
padding:15px;
}
#header{
    font-size: 90px;
    text-align: center;
}
#subHeading{
    font-size: 35px;
    text-align: center;
}
.card{
    text-align: center;
    }
h1{
    font-size: 50px;
}
p{
    opacity: 1;
    font-size: 35px;
}
.Ha1fDeaf {
    font-size: 12;
}
button,.btn{
   
    font-size: 30px !important;
}
form {
    font-size: 30px;
    padding:0 0 25px 0;
    margin:5px;

}
/* wanted to jazz up my non working form with a cool color array */
#displayCountDown {
    animation:colorchange 20s infinite alternate; 
}
@-webkit-keyframes colorchange {
  0% {
    color:rgb(119, 119, 0);
  }
  25% { 
    color: rgb(112, 45, 45);
  }
  50% {
    color: maroon;
  }
  75% {
    color: rgb(160, 125, 79);
  }
  100% { 
    color: rgb(33, 66, 33);
  }
  
}
